@charset "UTF-8";
.body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}
.ftr{
   background-color: #21222A;
   display: flex;
   align-items: center;
   height: 20px;
   padding: 30px 25px;
   
    }
    .st1, .ftr_phone{
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    
}
.ftr_phone{
	margin-left: Auto;
    
}
.color1{
	color: #c97416;
}

